<a [routerLink]="['/products', product?.id]" class="product-link" *ngIf="product">
<div class="card-container" >
  <div class="image-wrapper">
    <img [src]="product.image" [alt]="product.title">
    <div class="quick-shop-badge">
      QUICK<br>SHIP
    </div>
  </div>
  <div class="card-content">
    <h3>{{ product.title }}</h3>
    <p class="brand">{{ product.category | titlecase }}</p>
    <div class="options-swatches">
        <span>⭐ {{ product.rating.rate }} ({{ product.rating.count }} reviews)</span>
    </div>
    <p class="price">{{ product.price | currency }}</p>
  </div>
</div>
</a>